body {
    background-color: blanchedalmond;
    font-size: 30px;
}

h1 {
    text-align: center;
    background-color: rgb(163, 133, 192);
    font-family: sans-serif;
}

h2 {
    background-color: rgb(133, 192, 184);
    text-align: center;
}

.tab {
    tab-size: 50px;
}

img {
    width: 341px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.plaintext {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

.commonlist {
    display: block;
    margin-left: 500px;
}

.big-list-element {
    margin-right: 250px;
}

.startpage-list {
        font-size: 38px;
        font-family: sans-serif;
        margin-left: 500px;        
}

.backlink {
    color: red;
    text-align: center;
    background-color: rgb(121, 224, 221);
}